.card-wrapper {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.card {
  width: 200px;
  display: inline-block;
  margin: 10px;
  border: 10px solid #FFF;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.30);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card img {
  width: 200px;
  display: block;
}

.card:hover {
  cursor: pointer;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card.not-flipped {
  background-image: url('/images/palmtree.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card.not-flipped img {
  visibility: hidden;
}

.card.matched {
  visibility: hidden;
}
