.card-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.card {
  width: 200px;
  display: inline-block;
  padding: 5px;
  margin: 10px;
}

.card img {
  width: 200px;
}

.card:hover {
  cursor: pointer;
}
