.card-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.card {
  width: 200px;
  display: inline-block;
  margin: 10px;
  border: 5px solid #FFF;
}

.card img {
  width: 200px;
}

.card:hover {
  cursor: pointer;
}
