body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('/images/table_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: #FFF;
  text-align: center;
}

h1 span {
  color: #ffe500;
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 1);
}

.game {
  margin: 0 auto;
  height: 100vh;
}
